/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

:root {
  /* APP PARAMETERS */

  /* colors */
  --clr-background: hsl(42, 10%, 90%, 1);
  --clr-background-white: hsl(42, 3%, 97%);
  --clr-text: hsl(42, 90%, 10%);
  --clr-black: hsl(42, 90%, 10%);
  --clr-warning: red;

  /* fonts */
  --ff-family: Helvetica, sans-serif;

  /* layout */
  --hdr-height: 4rem;
  --ftr-height: 2rem;

  /* styling */
  --bdr-corner: 25px;
  --bdr-default: 2px solid var(--clr-black);

  --card-height: 400px;
  --card-width: 600px;

  /* css root setup */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--clr-background-white);
  color: var(--clr-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  height: var(--hdr-height);
  background-color: var(--clr-background);
}

main {
  height: calc(100dvh - var(--hdr-height) - var(--ftr-height));
  background-color: var(--clr-background-white);
}

footer {
  height: var(--ftr-height);
  background-color: var(--clr-background);
}

.flex-centered {
  padding: 0 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5rem;
}

.flex-hleft-vcenter {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-hright-vcenter {
  display: flex;
  justify-content: end;
  align-items: center;
}

.bordered {
  max-width: 780px;
  margin: 0 auto;
}

.vscrollable {
  overflow-y: scroll;
}

.vfilled {
  height: 100%;
}

.dev {
  border: 2px dashed red;
}
